.searchBar{
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: #eff1f8;
}   
.searchIcon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.searchInput{
    background: #eff1f8;
    border: none;
}